.social-media-buttons {
  display: inline-block;
  padding-left: 0;
}

.summary-education {
  background-color: #fafafa;
}

main {
  margin-top: 3.5rem;
}

.workex-section {
  background-color: #fafafa;
}

@media only screen and (min-width: 600px) {
  .profile-pic {
    width: 325px;
  }
  #skills img, #skills svg {
    width: 50%;
    height: auto;
  }
  #projects img {
    width: 200px;
    height: auto;
    align-content: center;
  }
  .work-dates {
    font-size: larger;
  }
}

@media only screen and (max-width: 599px) {
  #skills svg, #skills img {
    width: 80px;
    height: auto;
    margin: 1em;
  }
  .profile-pic {
    margin: 1.2em;
    width: 320px;
    height: auto;
  }
  #skills .card-header h2 {
    font-size: large;
  }
  #projects img {
    width: 150px;
    height: auto;
    align-content: center;
  }
  .work-dates {
    font-size: small;
  }
  .dates {
    font-size: x-small;
    font-weight: 500;
  }
}